@{
    ViewData["Title"] = "Home Page";
}

<div class>
    <h1> GINMER ESTRELLA </h1>
    <h1> BSIT-32E1 </h1>
    <img src="image.png" alt="me" class="myphoto" />
</div>

<div class="intro">
    <p>Hi! im Ginmer Estrella, 3rd Year BSIT in Lyceum of Alabang-Muntinlupa and i live in San Pedro, Laguna. 21 years old turning 22 on March 28. My passion/goal is to become successful to my business and be a better basketball player.</p>
</div>

<style>
    .intro {
        font-family: 'Bahnscript', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        margin-top: 60px;
        color: Black;
    }

    .head {
        font-family: 'Bahnscript', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        color: black;
    }
    .myphoto {
        border-radius: 50%;
        width: 200px;
    }
</style>